:root {
  --primary-light: #f0f6fe;
  --primary-main: #0753b4;
  --primary-dark: #093987;
  --secondary-light: #ba68c8;
  --secondary-main: #9c27b0;
  --secondary-dark: #7b1fa2;
  --error-light: #fb849a;
  --error-main: #f72b51;
  --error-dark: #c5072a;
  --warning-light: #ff9800;
  --warning-main: #ed6c02;
  --warning-dark: #e65100;
  --info-light: #03a9f4;
  --info-main: #0288d1;
  --info-dark: #01579b;
  --success-light: #43d698;
  --success-main: #23a26d;
  --success-dark: #176947;
  --text-secondary-light: #808080;
  --text-secondary-main: #666666;
  --text-secondary-dark: #4d4d4d;
  --disable-main: #9e9e9e;
  --divider-color: #0000001f;
  --black: #000000;
  --white: #ffffff;
}
