/* Navbar container styles */

.navbarContainer {
  display: flex;

  /* AppBar styles */

  .appBar {
    justify-content: center;

    .avatar {
      width: 170px;
      height: 40px;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

/* Main Menu styles */

.mainMenu {
  /* MUI Menu Paper styles */

  .MuiMenu-paper {
    background-color: var(--primary-light);
    color: var(--primary-main);
    margin-top: 16px;
    width: 150px;
  }

  /* MUI Menu Item styles */

  .MuiMenuItem-root {
    &:hover {
      background-color: #b7d4fa;
      color: var(--primary-dark);
      transition: all 0.3s ease-in-out;

      /* MUI Typography styles */

      .MuiTypography-root {
        font-weight: 500;
      }
    }
  }

  /* Menu Item styles */

  .menuItem {
    display: flex;

    .avatar {
      width: 35px;
      height: 35px;
      margin-right: 10%;
    }
  }
}