/* Starting block 1 styles */

.startingBlock1 {
  background: var(--background-image, url("/default.png")) center/cover
    no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: -80px;

  /* Semi-transparent dark overlay */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #00000059;
    z-index: 0;
  }

  /* Title styles */
  .title {
    font-weight: 600;
    font-size: 54px;
    line-height: var(--h1);
    color: var(--white);
    width: 80%;
    margin: 33% auto 0;
    position: relative;
    z-index: 1;
    text-align: left;
  }
}

/* Starting block 2 styles */

.startingBlock2 {
  background: var(--background-image, url("/default.png")) center/cover
    no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: -80px;
}

/* Promotion styles */

.promotion {
  padding: 2.5% 10%;

  .title {
    font-weight: 600;
    font-size: 26px;
    line-height: var(--h4);
  }

  .gridContainer {
    padding: 2.5% 0;

    .card {
      border-radius: 8px;
      overflow: hidden;

      .cardMediaContainer {
        width: 100%;
        padding-bottom: 100%;
        position: relative;

        .cardMedia {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
        }
      }

      .cardContent {
        border-top: 1px solid var(--divider-color);

        .name {
          font-weight: 500;
          font-size: 18px;
          line-height: var(--h6);
          margin-bottom: 2.5%;
        }

        .description {
          font-size: 14px;
          line-height: var(--body1);
          color: var(--secondary-main);
        }
      }
    }
  }
}

/* Join section styles */

.joinSection {
  padding: 2% 10%;

  .gridContainer {
    display: flex;
    align-items: center;

    .leftGrid {
      text-align: left;

      .title {
        font-weight: 600;
        font-size: 30px;
        line-height: var(--h4);
        color: var(--primary-main);
        margin-bottom: 2%;
      }

      .subtitle {
        font-size: 20px;
        line-height: var(--subtitle2);
        color: var(--primary-dark);
      }
    }

    .rightGrid {
      text-align: right;
    }
  }
}

/* Mission Statement styles */

.missionStatement {
  padding: 2% 10%;
  background-color: var(--primary-main);
  color: var(--white);
  padding-right: 25%;

  .text {
    font-weight: 500;
    font-size: 24px;
    line-height: var(--h5);
  }
}

/* Brand Slogan styles */

.brandSlogan {
  padding: 2.5% 10%;
  color: var(--color, var(--primary-main));
  text-align: center;

  .text {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    line-height: var(--h5);
  }
}

/* Category styles */

.category {
  padding: 2% 10%;
  color: var(--color, var(--primary-main));
  text-align: center;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 100px;
      height: 100px;
      background-color: var(--color, var(--primary-light));
    }

    .name {
      margin-top: 10%;
    }
  }
}

/* Highlights styles */

.highlights {
  padding: 2.5% 10%;
  color: var(--primary-main);
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 26px;
    line-height: var(--h5);
  }

  .gridContainer {
    padding-top: 2.5%;

    .gridItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 2.5%;
      }

      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: var(--h6);
      }

      .description {
        margin: 2.5% 7.5%;
        font-size: 16px;
        line-height: var(--body1);
      }
    }
  }
}

/* Safety Pledge styles */

.safetyPledge {
  padding: 2.5% 10%;
  background-color: #00987b;
  color: var(--white);
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: var(--h5);
  }

  .gridContainer {
    padding-top: 2.5%;

    .gridItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 2.5%;
      }

      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: var(--h6);
      }

      .description {
        margin: 2.5% 7.5%;
        font-size: 16px;
        line-height: var(--body1);
      }
    }
  }
}

/* Payment Flow and Transaction Replay Flow styles */

.paymentFlow,
.transactionReplayFlow {
  background: #d9d9d9;
  height: 350px;
  border-radius: 8px;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 0;

    .card {
      padding: 5%;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 300px;
    }
  }
}
