/* Starting block 1 styles */

.startingBlock1 {
  /* Set a background image with full cover, no-repeat, and centered position */
  background-image: var(--background-image, url("/default.png"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* Full viewport height and vertically/horizontally centered content */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* Adjust positioning and overlap to account for offset margin */
  position: relative;
  margin-top: -80px;

  /* Add a semi-transparent dark overlay for contrast */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
  }

  /* Styles for the title inside the block */
  .title {
    font-weight: 600;
    font-size: 54px;
    line-height: var(--h1);
    color: white;
    width: 80%;
    /* Positioning with a large top margin */
    margin: 35% auto 0 auto;
    /* Layer above overlay */
    position: relative;
    /* Ensure title appears above overlay */
    z-index: 1;
    text-align: left;
  }
}

/* Starting block 2 styles */

.startingBlock2 {
  /* Set a background image with full cover, no-repeat, and centered position */
  background-image: var(--background-image, url("/default.png"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* 85% viewport height and vertically/horizontally centered content */
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* Adjust positioning and overlap to account for offset margin */
  position: relative;
  margin-top: -80px;
}

/* Mission Statement styles */

.missionStatement {
  padding: 2% 10%;
  background-color: var(--primary-main);
  color: white;
  padding-right: 25%;

  .text {
    font-weight: 500;
    font-size: 24px;
    line-height: var(--h5);
  }
}

/* Highlights styles */

.highlightsSection {
  padding: 2.5% 10%;
  color: var(--primary-main);
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 26px;
    line-height: var(--h5);
  }

  .gridContainer {
    padding-top: 2.5%;

    .gridItem {
      // Use flexbox to center the items vertically and horizontally within the box
      display: flex;
      // Stack items vertically
      flex-direction: column;
      // Center horizontally
      align-items: center;
      // Center vertically
      justify-content: center;

      .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 2.5%;
      }

      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: var(--h6);
      }

      .description {
        margin: 2.5% 7.5%;
        font-size: 16px;
        line-height: var(--body1);
      }
    }
  }
}

/* Brand Slogan styles */

.brandSlogan {
  padding: 2.5% 10%;
  color: var(--color, var(--primary-main));
  text-align: center;

  .text {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: italic;
    line-height: var(--h5);
  }
}

/* Promotion styles */

.promotion {
  padding: 2.5% 10%;

  .title {
    font-weight: 600;
    font-size: 26px;
    line-height: var(--h4);
  }

  .gridContainer {
    padding: 2.5% 0;

    .card {
      border-radius: 8px;
      /* Ensure content doesn't overflow outside the card */
      overflow: hidden;

      .cardMediaContainer {
        width: 100%;
        /* Maintains a 1:1 ratio */
        padding-bottom: 100%;
        /* Allows positioning of child elements */
        position: relative;

        .cardMedia {
          /* Positions the image relative to the container */
          position: absolute;
          /* Centers the image vertically */
          top: 50%;
          /* Centers the image horizontally */
          left: 50%;
          /* Ensure the image is centered */
          transform: translate(-50%, -50%);
          /* Prevents the image from exceeding the container's width */
          max-width: 100%;
          /* Prevents the image from exceeding the container's height */
          max-height: 100%;
          /* Maintains the image's aspect ratio */
          width: auto;
          height: auto;
        }
      }

      .cardContent {
        border-top: 1px solid var(--divider-color);

        .name {
          font-weight: 500;
          font-size: 18px;
          line-height: var(--h6);
          margin-bottom: 2.5%;
        }

        .description {
          font-size: 14px;
          line-height: var(--body1);
          color: var(--secondary-main);
        }
      }
    }
  }
}

/* Category styles */

.category {
  padding: 2% 10%;
  color: var(--color, var(--primary-main));
  text-align: center;

  .box {
    // Use flexbox to center the items vertically and horizontally within the box
    display: flex;
    // Stack items vertically
    flex-direction: column;
    // Center horizontally
    align-items: center;
    // Center vertically
    justify-content: center;

    .avatar {
      width: 100px;
      height: 100px;
      background-color: var(--color, var(--primary-light));
    }

    .name {
      margin-top: 10%;
    }
  }
}

/* Categorised View styles */

.categorisedView {
  padding: 2.5% 10%;
  border-top: 1px solid var(--divider-color);

  .gridContainer {
    padding: 2% 0;

    .card {
      border-radius: 8px;
      /* Ensure content doesn't overflow outside the card */
      overflow: hidden;

      .cardMediaContainer {
        width: 100%;
        /* Maintains a 1:1 ratio */
        padding-bottom: 100%;
        /* Allows positioning of child elements */
        position: relative;

        .cardMedia {
          /* Positions the image relative to the container */
          position: absolute;
          /* Centers the image vertically */
          top: 50%;
          /* Centers the image horizontally */
          left: 50%;
          /* Ensure the image is centered */
          transform: translate(-50%, -50%);
          /* Prevents the image from exceeding the container's width */
          max-width: 100%;
          /* Prevents the image from exceeding the container's height */
          max-height: 100%;
          /* Maintains the image's aspect ratio */
          width: auto;
          height: auto;
        }
      }

      .cardContent {
        border-top: 1px solid var(--divider-color);

        .name {
          font-weight: 500;
          font-size: 16px;
          line-height: var(--h6);
          margin-bottom: 2.5%;
        }

        .price {
          font-size: 16px;
          line-height: var(--body1);
          color: var(--secondary-main);
        }

        .rating {
          padding-top: 12.5%;
        }
      }

      .cardActions {
        display: flex;
        justify-content: center;
        padding-bottom: 12.5%;
      }
    }
  }
}

/* Payment Flow and Transaction Replay Flow styles */

.paymentFlow, .transactionReplayFlow {
  background-color: #d6dde3;
  height: 350px;
  border-radius: 8px;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 0;

    .card {
      padding: 5%;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 300px;
    }
  }
}

/* Safety Pledge styles */

.safetyPledge {
  padding: 2.5% 10%;
  background-color: #00987b;
  color: var(--white);
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: var(--h5);
  }

  .gridContainer {
    padding-top: 2.5%;

    .gridItem {
      // Use flexbox to center the items vertically and horizontally within the box
      display: flex;
      // Stack items vertically
      flex-direction: column;
      // Center horizontally
      align-items: center;
      // Center vertically
      justify-content: center;

      .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 2.5%;
      }

      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: var(--h6);
      }

      .description {
        margin: 2.5% 7.5%;
        font-size: 16px;
        line-height: var(--body1);
      }
    }
  }
}

/* Join section styles */

.joinSection {
  padding: 2% 10%;

  .gridContainer {
    display: flex;
    align-items: center;

    .leftGrid {
      text-align: left;

      .title {
        font-weight: 600;
        font-size: 34px;
        line-height: var(--h4);
        color: var(--primary-main);
        margin-bottom: 2%;
      }

      .subtitle {
        font-size: 20px;
        line-height: var(--subtitle2);
        color: var(--primary-dark);
      }
    }

    .rightGrid {
      text-align: right;
    }
  }
}
