.contactusForm {
  padding: 2.5% 30%;

  .title {
    font-weight: 500;
    font-size: 32px;
    color: var(--primary-main);
  }
  
  .subtitle {
    font-size: 18px;
    color: var(--text-secondary-main);
    line-height: var(--body1);
  }
}
