// Passenger Types block 

.passengerTypes {
  padding: 2.5% 10%;
  background-color: var(--primary-light);
  color: var(--primary-main);
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.334; // h5 line-height
    margin-bottom: 2.5%;
  }

  .everydayRides, .premiumRides {
    padding-bottom: 2.5%;

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 1.334; // h5 line-height
    }

    .gridContainer {
      padding: 2.5% 0;

      .gridItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .avatar {
          width: 150px;
          height: 150px;
          margin-bottom: 2.5%;
        }

        .avatarTitle {
          font-weight: 500;
          font-size: 20px;
          line-height: 1.334; // h5 line-height
        }

        .avatarDescription {
          margin-top: 2.5%;
          margin-left: 7.5%;
          margin-right: 7.5%;
          font-size: 16px;
          line-height: 1.5; // body1 line-height
        }
      }
    }
  }
}

// Safety Pledge block

.safetyPledge {
  padding: 2.5% 10%;
  background-color: #00987b;
  color: white;
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.334; // h5 line-height
  }

  .gridContainer {
    padding-top: 2.5%;

    .gridItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 2.5%;
      }

      .avatarTitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.334; // h5 line-height
      }

      .avatarDescription {
        margin-top: 2.5%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 16px;
        line-height: 1.5; // body1 line-height
      }
    }
  }
}