/* Intro Slideshow styles */

.introSlideshow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: -80px;

  .imageContainer {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform: translateX(var(--translateX, 0%));

    .media {
      min-width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .paginationContainer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .paginationDot {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 50%;
      background: #bbbbbb;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: var(--white);
      }
    }

    .paginationDotActive {
      background: var(--white);
    }
  }
}

/* Gift Card Slideshow styles */

.giftCardSlideshow {
  padding: 2.5% 10%;
  color: var(--primary-main);

  .header {
    display: flex;
    align-items: center;

    .heading {
      font-weight: 600;
      font-size: 24px;
    }
  }

  .giftCardList {
    display: flex;
    gap: 20px;
    padding: 2.5% 0;
    overflow-x: auto;
    cursor: grab;
    scroll-behavior: smooth;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    &.dragging {
      cursor: pointer;
    }

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #00000033;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #00000066;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    .cardWrapper {
      text-align: center;
      flex-shrink: 0;

      .card {
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 150px;
        width: 250px;
        background: var(--primary-light);
        color: var(--primary-dark);
        cursor: pointer;

        &:hover {
          box-shadow: 0 4px 8px #0000001a;
          transform: scale(1.05);
          transition: transform 0.3s, box-shadow 0.3s;
        }

        .avatar {
          width: 200px;
          height: 47px;
        }
      }

      .cardName {
        font-weight: 600;
        color: var(--primary-main);
        margin-top: 5%;
      }
    }
  }
}

/* Customisation Form styles */

.customisationForm {
  padding: 2.5% 10%;

  .heading {
    font-weight: 500;
    font-size: 24px;
    line-height: var(--h5);
    color: var(--primary-main);
    margin-bottom: 2.5%;
  }

  .formContainer {
    display: flex;

    .textFieldLeft {
      width: 95%;
      margin-right: 5%;
    }

    .textFieldRight {
      width: 95%;
      margin-left: 5%;
    }

    .characterCount {
      font-size: 14px;
      color: var(--text-secondary-main);
      line-height: var(--body2);
      margin-top: 2.5%;
    }

    .amountPerGiftHeading {
      font-weight: 500;
      font-size: 20px;
      line-height: var(--h6);
      color: var(--primary-main);
      margin-bottom: 2.5%;
    }

    .giftItemBox {
      text-align: center;
      justify-content: center;
      align-items: center;

      .card {
        padding: 5%;
        cursor: pointer;
        color: var(--primary-main);

        &:hover {
          background: var(--primary-light);
          color: var(--primary-dark);
          border: 1px solid var(--primary-dark);
        }

        &.selected {
          background: var(--primary-light);
          color: var(--primary-dark);
          border: 1px solid var(--primary-main);
        }

        .cardValue {
          font-weight: 500;
          font-size: 16px;
          line-height: var(--h6);
        }
      }
    }

    .textFieldGiftsNumber {
      width: 45%;
      margin-right: 55%;
    }

    .maxGiftNumberLegend {
      font-size: 14px;
      color: var(--text-secondary-main);
      line-height: var(--body2);
      margin: 2.5% 0;
    }

    .orderCard {
      width: 95%;
      margin-left: 5%;
      padding: 5%;
      background: var(--primary-light);

      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: var(--h6);
        color: var(--primary-main);
      }

      .content {
        align-items: center;
        padding: 5% 0;

        .gridNumber {
          padding: 20% 0;
          width: 100%;
          text-align: center;
          color: var(--primary-main);
        }

        .cubiGiftVoucherInfoBox {
          font-size: 14px;
          color: var(--primary-main);
          line-height: var(--body2);

          .span {
            font-weight: 500;
            font-size: 16px;
          }
        }

        .totalAmountBox {
          text-align: right;
          color: var(--primary-main);
        }

        .totalAmountCalculation {
          display: flex;
          color: var(--primary-main);

          .totalHeader {
            width: 70%;
          }

          .number {
            width: 30%;
            text-align: right;
          }
        }
      }
    }
  }
}
