/* Passenger Types styles */

.passengerTypes {
  padding: 2.5% 10%;
  background-color: var(--primary-light);
  color: var(--primary-main);
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: var(--h5);
  }

  .everydayRides,
  .premiumRides {
    padding-top: 5%;

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: var(--h5);
    }

    .gridContainer {
      .gridItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .avatar {
          width: 150px;
          height: 150px;
          margin-bottom: 2.5%;
        }

        .title {
          font-weight: 500;
          font-size: 20px;
          line-height: var(--h6);
        }

        .description {
          margin: 2.5% 8% 1.25% 8%;
          font-size: 16px;
          line-height: var(--body1);
        }
      }
    }
  }
}
