/* Cubitech Services styles */

.cubitechServices {
  padding: 2.5% 10%;
  background-color: var(--primary-light);
  text-align: center;

  .slogan {
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-main);
    line-height: var(--h5);
  }

  .brands {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;

    .avatar {
      width: 170px;
      height: 40px;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

/* Peek View styles */

.peekView {
  padding: 2.5% 10%;

  .title {
    font-family: "Codec Pro Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1;
    color: var(--primary-main);
    line-height: var(--h4);

    &:hover {
      opacity: 0.75;
    }
  }

  .gridContainer {
    padding: 2.5% 0;

    .card {
      border-radius: 8px;
      /* Ensure content doesn't overflow outside the card */
      overflow: hidden;

      .cardMediaContainer {
        width: 100%;
        /* Maintains a 1:1 ratio */
        padding-bottom: 100%;
        /* Allows positioning of child elements */
        position: relative;

        .cardMedia {
          /* Positions the image relative to the container */
          position: absolute;
          /* Centers the image vertically */
          top: 50%;
          /* Centers the image horizontally */
          left: 50%;
          /* Ensure the image is centered */
          transform: translate(-50%, -50%);
          /* Prevents the image from exceeding the container's width */
          max-width: 100%;
          /* Prevents the image from exceeding the container's height */
          max-height: 100%;
          /* Maintains the image's aspect ratio */
          width: auto;
          height: auto;
        }
      }

      .cardContent {
        border-top: 1px solid var(--divider-color);

        .name {
          font-weight: 500;
          font-size: 16px;
          line-height: var(--h6);
          margin-bottom: 2.5%;
        }

        .price {
          font-size: 16px;
          line-height: var(--body1);
          color: var(--secondary-main);
        }

        .rating {
          padding-top: 12.5%;
        }
      }

      .cardActions {
        display: flex;
        justify-content: center;
        padding-bottom: 12.5%;
      }
    }
  }
}

/* Intro blocks styles */

.introSection {
  padding: 2.5% 10%;

  .gridContainer {
    display: flex;
    align-items: center;

    .leftGrid {
      text-align: left;
    }

    .rightGrid {
      display: flex;
      justify-content: flex-end;
    }

    .leftGridBox {
      width: 90%;
      margin-right: 10%;

      .title {
        font-weight: 600;
        font-size: 28px;
        line-height: var(--h4);
        color: white;

        .subtitle {
          font-weight: 500;
          font-size: 20px;
          line-height: var(--subtitle2);
          margin-top: 4%;
        }
      }

      .description {
        font-weight: 500;
        font-size: 18px;
        line-height: var(--h4);
        color: #b3cdff;
        margin: 5% 0 6.5% 0;
      }

      .learnMoreButton {
        background-color: white;
        color: var(--primary-main);

        &:hover {
          background-color: var(--primary-dark);
          color: white;
        }
      }
    }

    .rightGridBox {
      width: 90%;
      margin-left: 10%;

      .title {
        font-weight: 600;
        font-size: 28px;
        line-height: var(--h4);
        color: var(--primary-main);

        .subtitle {
          font-weight: 500;
          font-size: 20px;
          line-height: var(--subtitle2);
          margin-top: 4%;
        }
      }

      .description {
        font-weight: 500;
        font-size: 18px;
        line-height: var(--h4);
        color: var(--primary-dark);
        margin: 5% 0 6.5% 0;
      }
    }
  }
}
