.cartView {
  padding: 2.5% 10%;

  /* Toggle styles */

  .toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

    .brands {
      font-family: "Codec Pro Bold", sans-serif;
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.25;
      color: var(--primary-main);
      line-height: var(--h4);
      margin-top: 0.25%;

      .subColor1 {
        color: #09b96d;
      }

      .subColor2 {
        color: #c03853;
      }
    }
  }

  /* Shopping Cart header styles */

  .shoppingCartHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5% 0;

    .title {
      font-size: 32px;
      font-weight: 600;
      line-height: var(--h4);
      color: var(--primary-main);

      .itemNumber {
        font-size: 18px;
        font-weight: 400;
        line-height: var(--body1);
        color: var(--text-secondary-main);
        margin-top: 5%;
      }
    }
  }

  /* Empty Cart Display styles */

  .emptyCartDisplay {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      width: 200px;
      height: 200px;
    }

    .titleVariant1 {
      font-size: 24px;
      font-weight: 500;
      line-height: var(--h5);
      color: #08834e;
      margin-top: 5%;
    }

    .titleVariant2 {
      font-size: 24px;
      font-weight: 500;
      line-height: var(--h5);
      color: var(--primary-dark);
      margin-top: 5%;
    }

    .subtitle {
      font-size: 16px;
      line-height: var(--body1);
      color: var(--text-secondary-main);
      margin-top: 1.25%;
    }

    .buttonVariant1 {
      color: #08834e;
      margin-top: 2.5%;

      &:hover {
        background: #08834e;
        color: var(--white);
      }
    }

    .buttonVariant2 {
      color: var(--primary-main);
      margin-top: 2.5%;

      &:hover {
        background: var(--primary-main);
        color: var(--white);
      }
    }
  }

  /* Cart Data styles */

  .cartData {
    align-items: flex-start;
    
    // .cartListItemHeader {
    //   display: flex;
    //   align-items: center;
    //   padding: 1.25% 0;
    //   margin: 16px 0;
    //   border: 1px solid var(--divider-color);
    //   border-radius: 8px;

    //   .avatar {
    //     border: 1px solid var(--divider-color);
    //     width: 60px;
    //     height: 60px;
    //     padding: 1%;
    //   }

    //   .cartListSupplierData {
    //     display: flex;
    //     align-items: center;
    //     gap: 16px;
    //   }
    // }

    /* Cart List Item styles */
    .cartListItem {
      padding: 2.5% 0;
      border: 1px solid var(--divider-color);
      border-radius: 8px;
      overflow: hidden;

      .itemData {
        padding: 0 1.25%;

        .itemName {
          height: 55px;
          font-weight: 500;
          font-size: 18px;
        }

        .itemOption {
          font-size: 14px;
          color: var(--text-secondary-main);
          margin-bottom: 1%;
        }

        .itemCustomisation {
          font-size: 14px;
          color: var(--text-secondary-main);
          margin-bottom: 1%;
        }

        .itemSpecialNotes {
          font-size: 14px;
          color: var(--text-secondary-dark);
          font-style: italic;
          margin-bottom: 1%;
        }
      }

      .itemPrice {
        font-weight: 600;
        font-size: 18px;
        color: var(--primary-dark);
      }

      .options {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -6.5px;
      }

      .quantity {
        width: 50px;
        text-align: center;
      }
    }

    /* Payment Details styles */
    .paymentDetails {
      border: 1px solid var(--divider-color);
      border-radius: 8px;
      padding: 5%;

      .paymentDetailsLine,
      .totalAmount {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 5% 0;
        border-bottom: 1px solid var(--divider-color);
      }

      ._ {
        font-weight: 500;
        font-size: 18px;
      }

      .price {
        font-weight: 600;
        font-size: 18px;
        line-height: var(--h6);
        color: var(--primary-dark);
      }

      .addButton {
        font-size: 14px;
        color: var(--primary-main);

        &:hover {
          color: var(--primary-dark);
          cursor: pointer;
        }
      }

      .checkoutButton {
        margin-top: 5%;
      }
    }
  }
}
